{{ define "main" }}
    <main>
        <ul class=TagSearchResults>
            {{ range .Pages }}
                <li>
                    <a href="{{ .RelPermalink }}">
                        <h1>{{ .Name }}</h1>
                        <div class="imageWrapper">
                            <img src = "/posts/{{ .Name }}/thumbnail_Small.jpg" alt = "Insert {{ .Name }} Thumbail"/>
                        </div>
                    </a>
                </li>
            {{ end }}
        </ul>
    </main>
{{ end }}
