{{ define "main" }}
    <main>
        <ul class=TagCloud>
            {{/*
                This is a mess. Basically make tags appear bigger if they are used more.
                Take the largest tag size and square it.
                Take the current tag size and square it.
                Linearly interpolate between a min/max font such that a current tag size the same as the largest tag matches the max size.
                Min size is matched by tags that are used 0 times
            */}}
            {{ $fontMin := 11 }}
            {{ $fontMax := 50 }}
            {{ $marginMin := 5 }}
            {{ $marginMax := 100 }}
            {{ $mostUsedTag := index .Data.Terms.ByCount 0 }}
            {{ $maxCount := len $mostUsedTag.WeightedPages }}
            {{ $maxCountSquared := math.Pow $maxCount 2 }}
            {{ range $tagName, $value := .Data.Terms }}
                {{ $numberOfTaggedPages := len $value }}
                {{ $countSquared := math.Pow $numberOfTaggedPages 2 }}
                {{ $countMagnitude := math.Div $countSquared $maxCountSquared }}
                {{ $fontSize := math.Add $fontMin (math.Mul $fontMax $countMagnitude) }}
                {{ $marginAmount := math.Add $marginMin (math.Mul $marginMax $countMagnitude) }}
                <li>
                    <a
                        class=Tag
                        style="font-size:{{ $fontSize }}px;margin:{{ $marginAmount }}px;"
                        title="{{$numberOfTaggedPages}} posts have this tag"
                        href='{{ "/tags/" | relLangURL }}{{ $tagName | urlize }}'
                    >
                        {{ $tagName }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </main>
{{ end }}