<nav>
    <ul id="InternalLinks">
        <li><a href="/">Home</a></li>
        {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
    <ul id="ExternalLinks">
        {{ range .Site.Data.theme.socials }}
            <li>
            <a href="{{ .link }}" target="_blank" rel="noopener noreferrer">
                <img src="{{ .icon }}" title="{{ .title }}" alt="{{ .alt }}" width="32px" height="32px"/>
                </a>
            </li>
        {{ end }}
    </ul>
</nav>
