:root {
    --NavBar-width:80px;
}

/* Set the nav bar position. size, and colour */
nav{
    background-color: var(--color-palette-background2);
    color: var(--color-palette-highlight);
    border-right: 1px solid #7181A6;
    padding: 0;
    margin: 0;
    position: fixed;
    float: left;
    height: 100%;
    width: var(--NavBar-width);
    text-align: center;
    z-index: 2;
}

/* Set the styling of lists within the navbar */
nav ul{
  position: absolute;
  width: inherit;
  margin: 0;
  padding: 5px 0 5px 0;
  list-style-type: none;
}

nav ul#InternalLinks{
  top: 0px;
}

nav ul#ExternalLinks{
  bottom: 0px;
}

/* Set the styling of navbar list items */
nav li{
  padding: 5px;
}

/* Set the colour/appearance of navbar links so they don't change when clicked */
nav a, nav a:visited{
  color: inherit;
  text-decoration:none;
}

/* Push the main content out of the way of the nav bar. */
main{
    margin-left: var(--NavBar-width);
}  
