/* Set individual tag search result position and styling */
ul.TagSearchResults{
    display: grid;
    width: 100%;
    list-style: none;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 200px;
    gap: 20px;
}

ul.TagSearchResults li .imageWrapper{
    height: 100%;
}

ul.TagSearchResults li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul.TagSearchResults h1{
    text-align: center;
    font-size: 1em;
    margin: 0;
}

/* Set the tag search result link colour and behaviour */
ul.TagSearchResults a{
    width: 100%;
    height: 100%;
    background-color: var(--color-palette-background2);
    border: 1px solid var(--color-palette-highlight);
    border-radius: 4px;
    color: var(--color-palette-foreground);
    padding: 10px;

    display: grid;
    grid-template-rows: 20% 80%;
}

ul.TagSearchResults a:hover{
    background-color: var(--color-palette-selected-background);
    color: var(--color-palette-highlight);
}
