@import "colours.css";
@import "defaults.css";
@import "navbar.css";
@import "footer.css";
@import "post-list.css";
@import "tag-cloud.css";
@import "sections.css";
@import "moon.css";
@import "bellsprout.css";

/* Create class for images that force the image to be the same height as surrounding text. */
img.sameHeightAsText{
  max-height: 1em;
}
